:root {
  --brand-color: #4d5ae5;
  --navy-blue-color: #2e2f42;
  --white-color: #ffffff;
  --slate-color: #434455;
  --cloud-color: #f4f4fd;
  --cornflow: #e7e9fc;
  --ocean: #404bbf;

  --logo-font-family: "Raleway", sans-serif;
  --text-font-family: "Roboto", sans-serif;
}

/* Global style */

*,
* ::before * ::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--slate-color);
  background-color: var(--white-color);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* all-page-container */

.all-container {
  border-bottom: 1px solid #e7e9fc;
}

.container {
  width: 100%;
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-container {
  width: 1158px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}

.hero-logo {
  display: flex;
  align-items: center;
  margin-right: 76px;
}

.hero-nav-list {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}

.header-address {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  margin-top: 24px;
  margin-right: 100px;
}

.header-mailto {
  display: flex;
  margin-right: 40px;
  flex-direction: row;
  padding: 24px 0;
}

.title-container {
  display: flex;
  flex-direction: column;
  padding: 300px 720px;
}

.title-big {
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-buttons {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.section {
  display: flex;
  align-items: center;
  margin-top: 94px;
  margin-bottom: 94px;
}

.subtitle-main {
  flex-direction: row;
  justify-content: space-between;
  margin-top: 120px;
}

.paragraf-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.what-are-you-doing {
  display: flex;
  flex-direction: row;
  margin-top: 120px;
  justify-content: center;
  margin-bottom: 72px;
}

.image-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 120px;
}

.our-team-container {
  display: flex;
  padding: 120px 156px 120px 156px;
}

.our-team-main {
  display: flex;
  margin-top: 120px;
  justify-content: center;
}

.our-team-main-two {
  display: flex;
  justify-content: space-between;
}

.fundal-footer {
  padding: 100px 0;
  height: 312px;
}

.footer-link {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-footer {
  display: flex;
  flex-direction: row;
  margin-top: 105px;
  margin-left: 156px;
}

.footer-footer-p {
  display: flex;
  margin-top: 18px;
  margin-right: 1020px;
  margin-left: 156px;
  max-width: 264px;
}

/* Logo */

.logo-link {
  color: var(--brand-color);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
}

.logo-link-second {
  color: var(--navy-blue-color);
}

/* Contacts */

.list {
  list-style: none;
  display: flex;
}

.link {
  text-decoration: none;
  display: flex;
}

.list-link {
  color: var(--navy-blue-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 24px 0;
}

.list-link:hover,
.list-link:focus {
  color: #404bbf;
}

/* Address */

.address {
  font-style: normal;
  list-style-type: none;
}

.link-address {
  color: var(--slate-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.link-address:hover,
.link-address:focus {
  color: #404bbf;
}

/* Title */

.title-all {
  background-color: var(--navy-blue-color);
}

.title {
  color: var(--white-color);
  background-color: var(--navy-blue-color);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

/* Button-page-1 */

.button-html {
  font-family: "Roboto", sans-serif;
  color: var(--white-color);
  background-color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  cursor: pointer;
}

.button-html-brand:hover,
.button-html-brand:focus {
  color: var(--white-color);
  background-color: #404bbf;
}

/* Button-portofolio */

.button-portofolio {
  font-family: "Roboto", sans-serif;
  color: var(--brand-color);
  border: #e7e9fc;
  background: #f4f4fd;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.button-portofolio:hover,
.button-portofolio:focus {
  color: var(--white-color);
  background-color: #404bbf;
}

/* Description-page-1 */

.subtitle-list {
  color: var(--navy-blue-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

/* Description-portofolio */

.title-second {
  color: var(--navy-blue-color);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: capitalize;
}

.paragraf-p {
  color: var(--slate-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Images-page-1 */

.title-images {
  color: var(--navy-blue-color);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.title-images {
  background-color: #ffffffff;
}

.team {
  background-color: #ffffffff;
}

.our-team {
  background-color: #f4f4fd;
  display: flex;
}

.photo {
  background-color: #ffffff;
}

.title-our-team {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue-color);
  display: flex;
}

.team-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue-color);
  display: flex;
}

.paragraf {
  color: var(--slate-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
}
/* Footer */

.logo-link-footer {
  color: var(--cloud-color);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.paragraf-footer {
  font-size: 16px;
  color: var(--cloud-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.fundal-footer-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: lowercase;
  background-color: var(--navy-blue-color);
}
